
@import url(http://fonts.googleapis.com/css?family=Droid+Sans:bold+Lobster);
@import url(http://fonts.googleapis.com/css?family=Lobster);
body {
	margin:0;
	padding:0;
	font-family:'Droid Sans', sans-serif;
	color:#555;
	background:url(images/line.png) repeat;
	height:100%;
	}
html {
 	height:100%;	

}

#topnav {
	width:100%;
	height:40px;
	padding-left: 810px;
}

.selected {
	background:#30B352; 
	padding-left:10px;
	color: #BABABA;
	position:relative;
	line-height:40px;
	font-size:14px;
	padding:5px;
	color: #F1F1F1;
}

#topnav .retweet-by-me {
	background: #DD4B39;
	padding-left:10px;
	color: #BABABA;
	position:relative;
	line-height:40px;
	font-size:14px;
	padding:5px;
	color: #F1F1F1;

}
#topnav a:hover{
	text-shadow: rgba(0, 0, 0, 0.296875) 0px -2px 0px;
	border-top:2px;
	border-top-color: #DD4B39 !important;
}

#topnav .retweet-of-me{
	background: #DD4B39;
	padding-left:10px;
	color: #BABABA;
	position:relative;
	line-height:40px;
	font-size:14px;
	padding:5px;
	color: #F1F1F1;
}

#topnav .get-friends{
	background: #DD4B39;
	padding-left:10px;
	color: #BABABA;
	position:relative;
	line-height:40px;
	font-size:14px;
	padding:5px;
	color: #F1F1F1;
}

#topnav .signout{
	background: #DD4B39;
	padding-left:10px;
	color: #BABABA;
	position:relative;
	line-height:40px;
	font-size:14px;
	padding:5px;
	color: #F1F1F1;
}

#wrapper {
	width:1000px;
	margin:50px auto 80px auto;
	background:#FFF;
	box-shadow:0 0 8px 0 #80C4FF;
	-webkit-box-shadow:0 0 8px 0 #80C4FF;
	-moz-box-shadow:0 0 8px 0 #80C4FF;
	padding:30px 30px 50px 30px;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
	border-radius:25px 0;
	-moz-border-radius:25px 0;
	 height:auto;
	 min-height:100%;

}
#wrapper:hover {
	transform:scale(1.0);
	-moz-transform:scale(1.0); /* Firefox 4 */
	-webkit-transform:scale(1.0); /* Safari and Chrome */
	-o-transform:scale(1.0); /* Opera */
}	
#wrapper h1 {
	font-size:28px;
	text-align:center;	
	font-family:'Droid Sans', sans-serif;
	color:#555;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	-ms-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
#wrapper h1:hover {
	transform:rotate(360deg);
	-moz-transform:rotate(360deg); /* Firefox 4 */
	-webkit-transform:rotate(360deg); /* Safari and Chrome */
	-o-transform:rotate(360deg); /* Opera */

}

#wrapper .leftnav{
	float:left;
	margin-top:30px auto;
	width:100px;	
}

.topfollows {
	margin-left:63px;
	color: #DD4B39;
	font-size:12px;
}

.topfollows #fcount {
	margin-left:5px;
	margin-top:10px;
	color: #099;
	font-size:10px;
}

.topfollowings {
	margin-left:63px;
	color: #DD4B39;
	font-size:12px;
}

.topfollowings #ffcount{
	margin-left:5px;
	color: #099;
	font-size:10px;
}

.tweet-text {
	float:left;
	margin-left:-80px;
	margin-top:22px;
	width:100px;
}

.tweet-message {
	float: left;
	margin-left: -200px;
	margin-top: 22px;
	width: 100px;
}

#wrapper .logout a{
	float:right;
	margin-top:5px;
	font-size:13px;
	color:#DD4B39;
	text-decoration:none;
}

#wrapper .logout a:hover{
	float:right;
	margin-top:5px;
	font-size:14px;
	color:#A60000;
	text-decoration:none;
}

#wrapper span#tweet {
	float:right;
	margin-top:5px;
	margin-left:15px;
	margin-right:10px;
}

#wrapper span#gplus {
	float:right;
	margin-top:5px;
	margin-left:45px;
}

#wrapper .add-more {
	float:right;
	margin-bottom:10px;
	/*background:url(images/add-more.jpg) no-repeat;	*/
}

#wrapper .error-page {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.hide {
	display:none;
}

.show {
	display:block;
}

	
#wrapper #button-holder {
	display:block;
}


#wrapper #button-holder .button {
	text-align:center;
	margin:0 0 0 350px;
	width:150px;
	cursor:pointer;
	border:0;
}

#not {
	font-size:16px;
	margin: 100px 0 0 0px;
	line-height:25px;
	color:#DD4B39;
}

#example {
	margin-top:100px;
	margin-left:40px;
	width:400px;
}

#popup {
	margin-top:10px;
	margin-left:150px;
}

.follow-btn {
	margin-top:60px;
	margin-left:3px;
	color:#0084B4;
}
.widgets {
	margin-top:-115px;
	float:right;
	margin-right:40px;
}
#wrapper #button-holder #loader {
	margin:-2px 0 -4px;
}

#wrapper #button-holder #message {
	margin:-25px 50px;
	color:#DD4B39;
}

#tweets {
	/*width:990px;
	margin-top:120px;
	margin-left:30px;
	font-size:13px;
	font-weight:normal;
	font-family:'Droid Sans', sans-serif;
	line-height:30px;
	text-align:left;
	padding:0px;*/
	width:990px;
	margin-top:20px;
	font-size:13px;
	font-weight:normal;
	font-family:'Droid Sans', sans-serif;
	line-height:30px;
	text-align:left;
	padding:0px;
	
	}
#tweets a {
	color:#DD4B39;
	text-decoration:none;

}
#tweets a:hover {
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	-ms-transition: color .25s linear;
	transition: color .25s linear;
	color:#A60000;
}

#friends-map {
	width:990px;
	margin-top:20px;
	font-size:13px;
	font-weight:normal;
	font-family:'Droid Sans', sans-serif;
	line-height:30px;
	text-align:left;
	padding:0px;
	}

#friends-map a {
	color:#DD4B39;
	text-decoration:none;

}
#friends-map a:hover {
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	-ms-transition: color .25s linear;
	transition: color .25s linear;
	color:#A60000;
}


#target a {
	color:#DD4B39;
	text-decoration:none;

}
span.next {
	color:#DD4B39;
	text-decoration:none;

}

#twitter-follow {
	margin-left:14px;
}
span.numb {
	color:#DD4B39;
	text-decoration:none;

}border: medium none;
	height: 24px;
	width: 151px;
	margin-top:50px;
	margin-left:390px;


span.follow {
	margin-left:30px;
	padding:7px;
}

.by {
	color:#099;
	margin-left:21px;
}

.on {
	color:#099;
	margin-left:7px;
	padding-left:5px;
}

.retweeted {
	color:#099;
	margin-left:7px;
	padding-left:5px;
}

.retweeted a:hover {
	color:#099;
	margin-left:7px;
	padding-left:5px;
	text-decoration:underline;
}

.follow span.following {
	color:#30B352;
	margin-left:7px;
}

#unfollow_load {
	float:right;
	margin-right:10px;
}

#follow_load {
	float:right;
	margin-right:10px;
}

.greencolor {
	color:#099;
}


span.twitter_icon{
	padding-right:20px;
	background:transparent url(images/twitter.png) no-repeat center right;
	cursor:pointer;
}

#wrapper .signInButton {
	background: url(../media/images/twitter-signin.png) no-repeat;
	border: medium none;
	height: 24px;
	width: 151px;
	margin-top:50px;
	margin-left:390px;
	
}

#wrapper .logo {
	margin-left:260px;
	
}

#target a:hover {
	-webkit-transition: color .25s linear;
	-moz-transition: color .25s linear;
	-o-transition: color .25s linear;
	-ms-transition: color .25s linear;
	transition: color .25s linear;
	color:#A60000;
}


#tweets span.seperator {
	background:#80C4FF;
	height:1px;
	display:block;
	margin:10px 0;
}
#tweets span.owner {
	color:#DD4B39;
}

#tweets span.owner a {
	color:#DD4B39;
}

#tweets span.owner a:hover {
	color:#A60000;
}

#tweets span.count {
	color:#DD4B39;
}

.details {
	font-family:'Droid Sans', sans-serif;

}	
.details h2.account {
	font-size:16px;
	color:#099;
	font-weight:normal;	
	display:inline-block;
	margin:50px 0px 0px -50px;
	float:left;
}

.details h2.screen {
	font-size:16px;
	color:#099;
	font-weight:normal;	
	display:inline-block;
	margin:50px 0px 0px -50px;
	float:left;
}	
.details h3 {
	float:right;
	display:block;
	margin:30px -285px 20px 0px;
	color:#DD4B39;
	font-size:13px;
	font-weight:normal;	
}
.details strong, .details span{
	color:#555 !important;
	}

.footer {
        background:#222;
	color:#f2f2f2;
  	height:15px;
	margin-top:-30px;
	padding:5px 0;
	width:100%;
	font-size:10px;
	text-indent:150px;
}
.footer a {
	color:#fff;
}
.distance {
	clear:both;
	height:30px;
}


/* Light box implementation */

#lightbox {
	position: absolute;
	top: 0;
	left: 50%;
	width: 400px;
	margin-left: -250px;
	background: #fff;
	z-index: 1001;
	display: none;
	/*height:auto;*/
	height:430px;
	overflow-y: scroll;
	margin-top:3px;
}

#lightbox-shadow {
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: #000;
	filter: alpha(opacity=75);
	-moz-opacity: 0.75;
	-khtml-opacity: 0.75;
	opacity: 0.75;
	z-index: 1000;
	display: none;
}

/* Facebox */

.friends_message{
    width:380px;
    padding:10px;
    border-bottom: #999999 solid 1px;
    font-size:12px;
    }
.friends_area{
     width:380px;
     padding:10px;
     height:50px;
     border-bottom: #999999 solid 1px;
}

.friends_area .loading {
	font-size:13px;
	font-weight:normal;
	font-family:'Droid Sans', sans-serif;
	text-align:left;
	color:#DD4B39;
	font-size:13px;
}

.top_area{
	margin-right: 5px;
	float:left;
	font-size:14px;
	color:#DD4B39;
	font-weight:bold;
	padding:10px 6px 6px 12px;
}

.close-icon{
	margin-right:12px;
	margin-top:5px;
}
.name{
	font-size:13px;
	color:#30B352;
	padding:8px;
	}

.follow-box {
	color:#DD4B39;
	float:right;
	margin-right:10px;
	margin-top:8px;
	display:block;
	font-size:12px;	
}

.follow-box-self {
	color:#30B352;
	float:right;
	margin-right:10px;
	margin-top:8px;
	display:block;
	font-size:12px;	
}

.follow-box-unfollow {
	color:#9AC9FF;
	float:right;
	margin-right:10px;
	margin-top:8px;
	display:block;	
	font-size:12px;
}

#search_area{
	background:#F2F2F2 none repeat scroll 0 0;
	width:390px;
	padding:5px;
	height:30px;
}

.hide {
	display:none; !important
}

.show {
	display:block; !important
}

/* friends */
.friendstext {
	font-size:12px;
}

.photo {
	border: 1px solid #099;
	margin: 2px;
	padding: 3px;
}

#friends_bar{
	background:#F2F2F2 none repeat scroll 0 0;
	width:390px;
	padding:5px;
	height:30px;
}
.friends-details {
	font-size:12px;
	margin-top:120px;
}

#profile {
	background: #F1F1F1;
	border: 1px solid #099;
	border-bottom-left-radius: 4px 4px;
	border-bottom-right-radius: 4px 4px;
	border-top-left-radius: 4px 4px;
	border-top-right-radius: 4px 4px;
	float: left;
	font-size: 10px;
	margin-top:10px;
	margin-bottom:50px;
	padding: 4px;
	width: 200px;
}

.textbox {
	background: #DD4B39;
	border-bottom-left-radius: 2px 2px;
	border-bottom-right-radius: 2px 2px;
	border-top-left-radius: 2px 2px;
	border-top-right-radius: 2px 2px;
	color: #F1F1F1;
	font-size: 14px;
	font-weight: bold;
	padding: 6px;
}

.tweetthis {
	color: #DD4B39;
	display: block;
}

#friends-nav {
	float:right;
	margin-right:10px;
	margin-top:-30px;
}

div#friends-nav ul {
	list-style: none;
	padding: 22px 0px 0px;
}

div#friends-nav ul li {
	color: #DD4B39;
	float: left;
	font-size: 11px;
	margin: 0px;
	padding: 5px;
}

div#friends-nav ul li a {
	color: #DD4B39;
	font-size: 14px;
	padding: 0px 15px;
	text-decoration: none;
}

.user-name {
	font-size:14px;
	margin-left:13px;
	color:#30B352;
}

.select {
	color:#30B352;
}
