<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>ReTweeted.IN | Dead Page </title>
<meta name="Author" content="ReTweeted.IN | @retweetstats"> 
<meta name="Description" content="Your retweet's stats"> 
<meta name="keywords" content="tweet, retweet, reetweetstats, tweetstats, stats"> 
<link rel="stylesheet" type="text/css" href="/media/main.css"/>

<link href="/media/images/favicon.ico" type="image/ico" rel="shortcut icon" /> 

</head>

<body>
<div id="wrapper">
  <a href="/"><img class="logo" src="/media/images/logo.jpg" alt="Retweeted" title="ReTweeted" /></a>
  <img class="error-page" src="/media/images/400.jpg" alt="Retweeted" title="RIP" />
</div>
</body>

</html>
