{% load tweet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Retweets me | Who retweeted me | My Tweets Retweeted | retweeted.in </title>
<meta name="Author" content="ReTweeted.IN | @retweetstats"> 
<meta name="Description" content="Retweeted.in shows more than 200 tweets you retweeted, your 100 tweets get retweeted by whome, you can follow and unfollow users  and many more stats with detail description"> 
<meta name="keywords" content="tweet, retweet, retweeted, top retweet, retweeted by me, my tweet retweeted, retweeted by others, retweetstats, tweetstats, stats"> 
<link rel="stylesheet" type="text/css" href="/media/main.css"/>
<link href="/media/images/favicon.ico" type="image/ico" rel="shortcut icon" /> 
<script src="http://widgets.twimg.com/j/2/widget.js"></script>
<script src="http://platform.twitter.com/widgets.js" type="text/javascript"></script>

</head>

<body>
<div id="wrapper">
   
  <h1 class="">{{ error }}</h1>
  <div id="button-holder"> 
	<form method="POST" id="searchform"  action="#.">
	<a href="http://retweeted.in"><img class="logo" src="/media/images/logo-red.jpg" alt="Retweeted" title="ReTweeted" /></a>
        <input type="submit" class="signInButton"  value=""/>
	<span class="follow-btn"><input type="checkbox" name="follow-me" value="Follow me" checked=true/> follow @retweetstats<br /></span>
	<img id="loader" class="hide" src="/media/images/ajax-loader.gif" alt="Retweeted" title="ReTweeted" />
	<p id="message" class="hide"> Getting Your ReTweets...</p>	
	<p id="not"><a style="text-decoration:none; color:#0084B4;"  href="http://retweeted.in">retweeted.in</a> is a twitter app that is all about retweets. Here you can find who retweeted your tweets, how many times, who retweets your tweets the maximum, we call him your 'retweet buddy', your retweets, the tweeter whose tweets you have retweeted the most, tweeters whose tweets you retweet, whether they follow you, retweets your tweets or not etc etc. All this sounds very confusing, even I got confused when I wrote this. So just do one thing - <span style="color:#0084B4">sign in</span> - and find one of the most easy to use apps to view all about retweets.<br /><br />

Lot of new features are added daily which are notified in the tweets on twitter, so don't forget to follow us on twitter.<br/><br />

Explore the world of retweets while enjoying your Coffee!!</p>
  </form> </div>
  
	<img id="example" src="/media/images/retweeted.png" alt="Retweeted" title="ReTweeted" />
	<div><span class="widgets">
<script>
new TWTR.Widget({
  version: 2,
  type: 'search',
  search: 'retweeted',
  interval: 6000,
  title: 'Retweeted',
  subject: 'Across the twitter',
  width: 250,
  height: 300,
  theme: {
    shell: {
      background: '#0084B4',
      color: '#ffffff'
    },
    tweets: {
      background: '#ffffff',
      color: '#DD4B39',
      links: '#1985b5'
    }
  },
  features: {
    scrollbar: false,
    loop: true,
    live: true,
    hashtags: true,
    timestamp: true,
    avatars: true,
    toptweets: true,
    behavior: 'default'
  }
}).render().start();
</script></span>
	<img id="popup" src="/media/images/pop.png" alt="Retweeted by" title="ReTweeted by" /></div>
	
  	<div class="distance"></div>
</div>


<div class="footer">
	
</div>
<input type="hidden" value="{{ following }}" id="following_list" />
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script src="/media/jquery.min.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24991395-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
