{% load tweet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
{% if screen_name %}
<title>I retweeted {{ top_tweeted }}'s tweet {{ top_tweeted_count }} times.</title>
{% else %}
<title>Retweets me | Who retweeted me | My Tweets Retweeted | retweeted.in </title>
{% endif %}
<meta name="Author" content="ReTweeted.IN | @retweetstats"> 
<meta name="Description" content="Retweeted.in shows more than 200 tweets you retweeted, your 100 tweets get retweeted by whome, you can follow and unfollow users  and many more stats with detail description"> 
<meta name="keywords" content="tweet, retweet, retweeted, top retweet, who retweeted me, retweeted by me, my tweets retweeted, your tweets retweetd, retweeted by others, retweetstats, tweetstats, stats">
<link rel="stylesheet" type="text/css" href="/media/main.css"/>
<link href="/media/images/favicon.ico" type="image/ico" rel="shortcut icon" /> 

</head>

<body>
<div id="topnav">
	{% if screen_name or error %}
	<a style="text-decoration:none" href="{% url tweet-response %}"><span class="selected">RT by You</span></a>
	<a style="text-decoration:none" href="{% url retweeted-of-user %}"><span class="retweet-of-me">Your tweets RT</span></a>
	<a style="text-decoration:none" href="{% url get-friends %}"><span class="get-friends">Friends & Followers</span></a>
	<!--a style="text-decoration:none" href="#."><span class="retweet-by-user">RT by @users</span></a-->
	<a style="text-decoration:none" href="{% url twitter-logout %}"><span class="signout">logout</span></a>
	{% endif %}
</div>
<div id="wrapper">
  {% if screen_name or error %}
 <div id="profile">
  <img class="leftnav" src="https://api.twitter.com/1/users/profile_image/{{ screen_name }}/" style="width:48px;height=48px;" alt="{{ screen_name }}" title="{{ screen_name }}" />
 <div><span  class="user-name">{{ screen_name }}</span></div>
  <div class="topfollows">followers:<span id="fcount">{{ follower }}</span></div>
   <div class="topfollowings">followings:<span id="ffcount">{{ following|get_following_count }}</span></div>
  <!--span id="tweet"><a href="http://twitter.com/share" class="twitter-share-button" data-url="http://www.retweeted.in" data-count="horizontal" data-via="retweetstats">Tweet</a></span-->
</div>
 <div id="friends-nav">
 <ul>
	<li><a href="{% url get-friends %}">Friends</a></li>
	<li>|</li>
	<li><a href="{% url get-followers %}">Followers</a></li>
 	<li>|</li>
	<li><a href="{% url get-non-followers %}">Not following back</a></li>
 </ul>
 </div>
  {% endif %}

  
  <h1 class="">{{ error }}</h1>
  {% if not screen_name %}
  <div id="button-holder"> 
	<form method="POST" id="searchform"  action="#.">
	<img class="logo" src="/media/images/logo-red.jpg" alt="Retweeted" title="ReTweeted" />
        <input type="submit" class="signInButton"  value=""/> 
	<img id="loader" class="hide" src="/media/images/ajax-loader.gif" alt="Retweeted" title="ReTweeted" />
  </form> </div>
   {% endif %}
   {% if screen_name %}
   <input type="hidden" id="hidden-val" value = "I retweeted {{ top_tweeted }}'s tweet {{ top_tweeted_count }} times via @retweetstats http://retweeted.in" />
  <div class=friends-details>
    <h3><span class="textbox">You retweeted {{ top_tweeted }}'s tweet {{ top_tweeted_count }} times.</span></h3>
<a id="tweetthis" style="text-decoration:none;" href="#."><span class="tweetthis">Tweet</span></a><img id="loader-img" class="hide" src="/media/images/vsli1.gif" /><!--span><g:plusone size="medium" href="http://www.retweeted.in"></g:plusone></span-->
</div>
  {% endif %}
  <div  class="content" id="tweets"> 
	{% for tw in re_tweets.object_list %}
		<div class="tr"><span class="count">{% if page %}#{{ forloop.counter|get_count:page }}{% else %}#{{ forloop.counter }}{% endif %}. </span>  {{ tw.retweeted_status.text|urlize }}.</br></div>

 <strong><span class="by">By</strong></span> <span class="owner"><a href="http://twitter.com/{{ tw.retweeted_status.user.screen_name }}/">{{ tw.retweeted_status.user.screen_name }}</a></span> <strong><span class="on">On</span></strong> <span class="owner"><a href="http://twitter.com/{{ tw.retweeted_status.user.screen_name }}/status/{{ tw.retweeted_status.id }}/" target="blank">{{ tw.created_at|get_time }}</a></span>

<a title="List of user who retweeted" href="javascript:lightbox('{{  screen_name }}', '{{ tw.retweeted_status.user.screen_name }}', 'http://api.twitter.com/1/statuses/{{ tw.retweeted_status.id }}/retweeted_by.json?callback=?&count=100');"><span class="owner twitter_icon"><span class="retweeted">Retweeted</span> {{ tw.retweet_count }}</span></a><span class="follow">{% if tw.retweeted_status.user.screen_name|get_followers:following %}<span id="twitter-follow"><a href="http://twitter.com/{{ tw.retweeted_status.user.screen_name }}" class="twitter-follow-button" data-show-count="false" data-link-color="#DD4B39">Follow @{{ tw.retweeted_status.user.screen_name }}</a></span>{% else %}<span class="following"><span class="greencolor">Following</span></span>{% endif %}</span></script><span class="seperator"></span>

        {% endfor %}

	{% if screen_name %}
	<span class="step-links">
        	{% if re_tweets.has_previous %}
        	    <a style="text-decoration:none" href="?page={{ re_tweets.previous_page_number }}"><span class="next">Pre</span></a>
        	{% endif %}

        	<span class="current">
        	    Page <span class="numb">{{ re_tweets.number }}</span> of <span class="numb">{{ re_tweets.paginator.num_pages }}</span> 
        	</span>
	
        	{% if re_tweets.has_next %}
        	    <a style="text-decoration:none" href="?page={{ re_tweets.next_page_number }}"><span class="next">Next</span></a>
        	{% endif %}
	</span>
	{% endif %}
  </div>
	<div class="distance"></div>
</div>


<div class="footer">
	
</div>
<input type="hidden" value="{{ following }}" id="following_list" />
<script type="text/javascript">
  (function() {
    var po = document.createElement('script'); po.type = 'text/javascript'; po.async = true;
    po.src = 'https://apis.google.com/js/plusone.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(po, s);
  })();
</script>
<script src="/media/jquery.min.js" type="text/javascript"></script>
<script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>
<script src="/media/main.js" type="text/javascript"></script>
<script src="/media/jquery.elastic.source.js" type="text/javascript"></script>

<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-24991395-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
</body>
</html>
