{% load tweet_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="utf-8" />
<title>Tauquir</title>
<link rel="stylesheet" type="text/css" href="{{ MEDIA_URL }}main.css"/>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}main.js" type="text/javascript"></script>
<script src="{{MEDIA_URL}}jquery.pajinate.js" type="text/javascript"></script>
</head>

<body>
<div id="wrapper">
  {% if screen_name %}
  <div class="logout"><a href="{% url twitter-logout %}">logout</a></div>
  {% endif %}
  <h1 class=""></h1>
  <div id="button-holder"> 
	<form method="POST" id="searchform"  action="#.">
        <input type="submit" class="button blue round glass serif" value="Your Retweets" />
	<img id="loader" class="hide" src="{{ MEDIA_URL }}images/ajax-loader.gif" alt="MailServed" title="Mailserved" />
  </form> </div>
   {% if screen_name %}
   <div class=details>
     <h2 class="account">Hey {{ screen_name }},</h2>
	<h3><strong>You have retweeted {{ top_tweeted }}'s tweet</strong> <span>{{ top_tweeted_count }}</span> times (Not bad, you seem to be influenced.)</h3>
	<p style="clear:both;"></p>
  </div>
  {% endif %}
  <div  class="content" id="tweets"> 
	{% for tw in re_tweets %}
		<div class="tr">{{ tw.text|get_text|urlize }} <strong>By</strong> <span class="owner">{{ tw.text|get_owner }}</span> <strong>On</strong> <span class="owner">{{ tw.created_at }}</span> and Retweeted <span class="owner">{{ tw.retweet_count }}</span> times.</br><span class="seperator"></span></div>

        {% endfor %}
  </div>
	<div class="distance"></div>
</div>
<div class="footer">
	From the Cool <a href="#.">Folks</a> at <a href="#.">March</a>
</div>
</body>
</html>
