<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>4some1withL</title>
    <meta name="Author" content="F4Fuck">
    <meta name="Description" content="F4Fuck is art of living for Fucked People. Do You want to join this?">
    <meta name="keywords" content="F4Fuck, Art of Fucking, living">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.4.2/jquery.min.js"></script>
    <link href="{{ MEDIA_URL }}master.css" rel="stylesheet" type="text/css"/>
    <!--script src="main.js" type="text/javascript"></script--> 
  </head>
  <body>
	<div class="leftpanel">
		<p class="message"> Hi, this is cool </p>
		<div>
			<form method="POST" id="searchform" action="#.">
				<input class="textInput" type="text" value="" name="uname" />
				<input class="button" type="submit" value="Ok" />
			</form>
		</div>
	</div>
  </body>
</html>

